*{
	box-sizing: border-box;
}
body {
	/*background-color: lightgray ;*/
	font-family: 'Rubik',sans-serif;
	font-weight: var(--font-weight-default);
	/*Sets the font size*/
	font-size: 16px;
	/*Sets the line height*/
	line-height: 1.6;
	/*Sets background position*/
	background-position: center;
    padding-top: 10%;
    padding-left: 30%;
}